apiVersion: v1
kind: Service
metadata:
  name: {{ include "quote-bot.fullname" . }}
  labels:
    {{- include "quote-bot.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    {{- include "quote-bot.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: collector
