{{- if .Values.httpRoute.enabled -}}
{{- $fullName := include "hedgedoc.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- $backend := index .Values "hedgedoc-backend" -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "hedgedoc.labels" . | nindent 4 }}
  {{- with .Values.httpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  parentRefs:
    {{- with .Values.httpRoute.parentRefs }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    {{- if $backend.enabled }}
    - matches:
        - path:
            type: PathPrefix
            value: /realtime
        - path:
            type: PathPrefix
            value: /api/
        - path:
            type: PathPrefix
            value: /public/
        - path:
            type: PathPrefix
            value: /uploads/
        - path:
            type: PathPrefix
            value: /media/
      backendRefs:
        - group: ''
          kind: Service
          name: {{ include "hedgedoc-backend.fullname" . }}
          port: {{ $backend.service.port }}
          weight: 50
    {{- end }}
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
          group: ''
          kind: Service
          weight: 50
{{- end }}
