{{- if .Values.httpRoute.enabled -}}
{{- $fullName := include "hedgedoc.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- define "hedgedoc-backend.fullname.override" -}}
{{- /* 1. 获取 hedgedoc-backend 子 Chart 的 Values */ -}}
{{- $hedgedocBackendValues := index .Values "hedgedoc-backend" -}}
{{- /* 2. 构造新的上下文，伪造 Chart Name 为 "redis" */ -}}
{{- $hedgedocBackendContext := dict "Values" $hedgedocBackendValues "Release" .Release "Chart" (dict "Name" "hedgedoc-backend") "Template" .Template -}}
{{- /* 3. 调用子 Chart 的模板 */ -}}
{{- include "hedgedoc-backend.fullname" $hedgedocBackendContext -}}
{{- end -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "hedgedoc.labels" . | nindent 4 }}
  {{- with .Values.httpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  parentRefs:
    {{- with .Values.httpRoute.parentRefs }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /realtime
        - path:
            type: PathPrefix
            value: /api/
        - path:
            type: PathPrefix
            value: /public/
        - path:
            type: PathPrefix
            value: /uploads/
        - path:
            type: PathPrefix
            value: /media/
      backendRefs:
        - group: ''
          kind: Service
          name: {{hedgedoc-backend.fullname.override}}
          port: {{hedgedoc-backend.Values.service.port}}
          weight: 50
    - matches:
          - path:
              type: PathPrefix
              value: /
      backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
          group: ''
          kind: Service
          weight: 50
{{- end }}
