{{- if .Values.httpRoute.enabled -}}
{{- $fullName := include "hedgedoc.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "hedgedoc.labels" . | nindent 4 }}
  {{- with .Values.httpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  parentRefs:
    {{- with .Values.httpRoute.parentRefs }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /realtime
        - path:
            type: PathPrefix
            value: /api/
        - path:
            type: PathPrefix
            value: /public/
        - path:
            type: PathPrefix
            value: /uploads/
        - path:
            type: PathPrefix
            value: /media/
      backendRefs:
        - group: ''
          kind: Service
          # 淇鐐?1: 浣跨敤 include 璋冪敤妯℃澘
          name: {{ include "hedgedoc-backend.fullname.override" . }}
          # 淇鐐?2: 浣跨敤 index 瀹夊叏鑾峰彇甯︿腑鍒掔嚎鐨?key锛屽苟鑾峰彇绔彛
          port: {{ (index .Values "hedgedoc-backend").service.port }}
          weight: 50
    - matches:
          - path:
              type: PathPrefix
              value: /
      backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
          group: ''
          kind: Service
          weight: 50
{{- end }}

