{{- if .Values.frpc.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "frp.fullname" . }}-frpc
  labels:
    {{- include "frpc.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frpc.replicaCount }}
  selector:
    matchLabels:
      {{- include "frpc.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        cchecksum/config: {{ include (print $.Template.BasePath "/frpc-configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "frpc.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "frp.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.frpc.image.repository }}:{{ .Values.frpc.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.frpc.image.pullPolicy }}
          args: ["-c", "/etc/frp/frpc.toml"]
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /etc/frp
              subPath: frpc.toml
      volumes:
        - name: config
          configMap:
            name: {{ include "frp.fullname" . }}-config-frpc
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
