# Default values for xray.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: ghcr.io/xtls/xray-core
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "25.12.8"

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created.
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account.
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template.
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80



# 环境变量配置（非敏感）
# 会被写入 ConfigMap 并挂载到容器中
env: {}
  # TZ: "Asia/Shanghai"
  # LOG_LEVEL: "info"

# 敏感信息配置
# 会被写入 Secret 并挂载到容器中
secrets: {}
  # DATABASE_URL: "postgresql://user:password@host:5432/db"
  # API_KEY: "your-secret-key"
nodeSelector: {}

tolerations: []

affinity: {}


# [开关] HostPort 模式
useHostPort: true
service: {}
  # # 策略: SingleStack, PreferDualStack, RequireDualStack
  # ipFamilyPolicy: RequireDualStack
  # # 协议栈列表
  # ipFamilies:
  #   - IPv4
  #   - IPv6
# serviceExternalIPs:
#   - 111.111.111.111



# Xray 统一配置
xrayConfig: {}
#   log:
#     loglevel: warning
#   dns:
#     servers:
#       - "tcp+local://1.1.1.1:53"
#       - "tcp+local://8.8.8.8:53"
#       - "quic+local://dns.cloudflare-dns.com"
#       - "quic+local://dns.google"
#     queryStrategy: UseIP
#     enableParallelQuery: true
#     disableCache: false
#     serveStale: true
#     serveExpiredTTL: 120
#   inbounds:
#     - listen: "0.0.0.0"
#       port: 29865
#       protocol: shadowsocks
#       tag: "alice"
#       settings:
#         network: "tcp,udp"
#         method: "2022-blake3-aes-128-gcm"
        
#         # [归位] 直接在 settings 里定义服务端密码
#         # "auto" 表示自动生成，也可以填固定字符串
#         password: "auto"
        
#         # [归位] 直接在 settings 里定义客户端列表
#         clients:
#           - email: user1
#             password: "auto"
#           - email: user2
#             password: "auto"
#           - email: user3
#             password: "auto"
            
#       sniffing:
#         enabled: true
#         destOverride:
#           - http
#           - tls
#           - quic
#   outbounds:
#     - protocol: freedom
#       tag: direct
#       streamSettings:
#         sockopt:
#           tcpFastOpen: true
#           domainStrategy: UseIP
#     - protocol: blackhole
#       tag: block