{{- if .Values.httpRoute.enabled -}}
{{- $fullName := include "dns-server.fullname" . -}}
{{- $dohPort := .Values.service.dohPort -}}
{{- /* 获取路径列表 */ -}}
{{- $dohPaths := .Values.service.dohPaths -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "dns-server.labels" . | nindent 4 }}
  {{- with .Values.httpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  parentRefs:
    {{- with .Values.httpRoute.parentRefs }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    {{- /* 遍历配置的路径列表，为每个路径生成独立的 Rule */ -}}
    {{- range $dohPaths }}
    - matches:
        - path:
            type: PathPrefix
            value: {{ . }}
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
      backendRefs:
        - name: {{ $fullName }}
          port: {{ $dohPort }}
          group: ''
          kind: Service
          weight: 50
    {{- end }}
{{- end }}