name: Release Charts

on:
  push:
    branches:
      - gh-pages
    paths:
      - 'charts/**' # 只有 charts 目录变动时才触发
      
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3

      # 这个 Action 会自动检测 charts/ 下的变动
      # 自动打包，自动更新 index.yaml，并发布到 GitHub Releases 和 gh-pages 分支
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"